<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="cordova-plugin-facedetector" version="1.0.0-dev"
    xmlns="http://www.phonegap.com/ns/plugins/1.0">
    <name>FaceDetector</name>
    <description>EsCare Face Detect Plugin</description>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=7.1.0" />
        <engine name="cordova-android" version=">=6.3.0" />
    </engines>
    <js-module name="FaceDetector" src="www/facedetector.js">
        <clobbers target="cordova.plugins.faceDetector" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FaceDetector">
                <param name="ios-package" value="FaceDetector"/>
            </feature>
        </config-file>
        <source-file src="src/ios/FaceDetector.swift" />
        <source-file src="src/ios/BaseViewController.swift" />
        <source-file src="src/ios/FaceDetectViewController.swift" />
        <source-file src="src/ios/FaceError.swift" />
        <source-file src="src/ios/FaceResultData.swift" />
        <source-file src="src/ios/Extensions.swift" />
        <dependency id="cordova-plugin-add-swift-support" version="1.7.2"/>
        <resource-file src="src/ios/EsCare.storyboard"/>
    </platform>

    <platform name="android">
        <source-file src="src/android/com/metsakuur/escaredemo/FaceDetector.java"
            target-dir="app/src/main/java/com/metsakuur/escaredemo" />
        <source-file src="src/android/com/metsakuur/escaredemo/http/UFaceHttpListener.java"
            target-dir="app/src/main/java/com/metsakuur/escaredemo/http" />
        <source-file src="src/android/com/metsakuur/escaredemo/http/UFaceHttpRequestManager.java"
            target-dir="app/src/main/java/com/metsakuur/escaredemo/http" />
        <source-file src="src/android/com/metsakuur/escaredemo/http/UFaceHttpManager.java"
            target-dir="app/src/main/java/com/metsakuur/escaredemo/http" />
        <source-file src="src/android/FaceCameraActivity.java"
            target-dir="app/src/main/java/com/metsakuur/escaredemo" />
        <source-file src="src/android/UFaceConfig.java"
            target-dir="app/src/main/java/com/metsakuur/escaredemo" />

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="FaceDetector">
                <param name="android-package"
                    value="com.metsakuur.escaredemo.FaceDetector" />
            </feature>
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity android:name="com.metsakuur.escaredemo.FaceCameraActivity"
                android:clearTaskOnLaunch="true"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:exported="false"
                android:theme="@style/Theme.AppCompat" android:windowSoftInputMode="stateAlwaysHidden" />
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.FLASHLIGHT" />
            <uses-feature android:name="android.hardware.camera" android:required="true" />
        </config-file>
        <framework src="com.android.support:support-v4:$ANDROID_SUPPORT_V4_VERSION" />
        <framework src="androidx.constraintlayout:constraintlayout:2.1.4" />
        <framework custom="true" src="src/android/facedetector.gradle" type="gradleReference" />
        <lib-file src="src/android/UFaceDetectorLite1.0.2.aar" />
        <lib-file src="src/android/UFaceFRClient1.0.0.aar" />
        <source-file src="src/android/activity_face_camera.xml" target-dir="res/layout"/>
        <source-file src="src/android/faceline.png" target-dir="res/drawable-mdpi"/>
        <preference name="ANDROID_SUPPORT_V4_VERSION" default="27.+" />
    </platform>
</plugin>
